# Binaries
engine/*.exe
engine/*.msi
engine/*.zip
engine/argus.exe
engine/ChromeStandaloneSetup64.exe
engine/vlc-3.0.20-win64.exe
engine/incidium-remote-access.msi
engine/tightvnc-2.8.63-gpl-setup-64bit.msi
engine/TeamViewer_Host_Setup.exe
engine/OpenSSH-Win64.zip
engine/snake-speare-v6/
engine/BGInfo/
.drive-ref.json
System Volume Information/
device-*/
_incidium_installer_venetian.bat
_incidium_uninstaller_venetian.bat
engine/debug.log
